<div class="container">
    <h1>Listado de Héroes</h1>
    <button class="btn btn-success">Nuevo</button>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Poder</th>
                <th scope="col">Universo</th>
                <th scope="col">Debilidad</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            @for (heroe of listadoHeroes; track heroe.id) {
            <tr>
                <th scope="row">{{ heroe.id }}</th>
                <td>{{ heroe.nombre }}</td>
                <td>{{ heroe.poder }}</td>
                <td>{{ heroe.universo }}</td>
                <td>{{ heroe.debilidad }}</td>
                <td style="text-align: center;">
                    <button (click)="CargarHeroes()" style="margin: 20px;" type="button"
                        class="btn btn-primary">Actualizar</button>&nbsp;
                    <button (click)="EliminarHeroe(heroe.id)" type="button" class="btn btn-danger">Eliminar</button>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>